<h1><%= chapter.get('course').title %></h1>
<div class="row">
  <div class="six columns">
    <div class="lectures">
      <h2>Lectures</h2>
      <ul>
        <% for(i=0; i < chapter.get('lectures').length; i++) { var section = chapter.get('lectures')[i]; %>
          <li> 
            <a target="_blank" href="<%= section['url'] %>"><%= section['title'] %></a>
            <span class="info"> Practicies: <%= section['practice_count'] %></span>
          </li>
        <% } %>
      </ul>
    </div>
  </div>

  <div class="six columns">
    <div class="assigments">
      <h2>Assigments</h2>
      <ul>
        <% for(i=0; i < chapter.get('assignments').length; i++) { var section = chapter.get('assignments')[i]; %>
          <li> 
            <a target="_blank" href="<%= section['url'] %>"><%= section['title'] %></a>
          </li>
        <% } %>
      </ul>
  </div>
</div>
