<article class="<%= course.get('platform').name %>">
  <div class="illustration" style="background-image: url('<%= course.get('logo_url') %>')"
    <img src="<%= course.get('logo_url') %>" alt="<%= course.get('title') %>">
  </div>
  <h1><%= course.get('title') %></h1> 
  <span class="add">track it!</a>
</article>
